@import '../../common/styles.scss';

.card-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    display: flex;
    box-shadow: 0px 0px 8px #ffffff;
    overflow: hidden;
}


.card-inner {
    width: 100%;
    height: auto;
}
.card-top {
  h2 {
    padding-bottom: 10px;
  }
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 10px;
}

.card-middle {
    height: auto;
    width: 100%;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    padding: 20px;

    img {
        height: 200px;
        width: 200px;
        background-size: cover;
        background-position: center;
    }
}


.card-bottom {
  border-top: 1px solid lightgray;
   padding: 10px;
   display: flex;
}

.comments-button {
  width: 100px;
  margin: 0 auto;
}


