@import '../../common/styles.scss';


.Header {
background-image: url("../../images/shutterstock_1717271977.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 90px;
display: flex;
justify-content: center;
box-shadow: 0px 0px 8px #13b523;
align-items: center;
}

ul {
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-around;
    padding: 0.5em;
}

li {
    list-style-type: none;
    padding: 5px;
}

li:last-child {
    margin-right: 50px;
}


.header-button {
    width: 4em;
    height: 2.8em;
    background-color: $primary-color;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    color: $font-primary;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #13b523;
}

.header-button:hover {
    background-color: rgb(30, 131, 7);
    color: $font-secondary;
}

h1 {
    font-size: 2rem;
    color: $font-secondary;
    font-weight: bold;
    font-family: 'Geologica', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 4px white;
}

h3 {
    color: $font-secondary;
    text-shadow: 0px 0px 2px white;
}

.logo-wrapper {
    margin-left: 10px;
}

.logo-button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
}

.logo-button img {
   height: 50px;
   width: 50px;
   border-radius: 50%;
border: 1px solid black;
background-size: cover;
cursor: pointer;
transition: transform .5s ease;
}

.logo-button:hover img {
    transform: scale(1.1);
}

.zeddit-header {
   cursor: pointer;
   transition: transform .5s ease;
}

.zeddit-header:hover {
    transform: scale(1.1);
}


