@import './common/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=IBM+Plex+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Geologica', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: $primary-color;
}



