
@import '../../common/styles.scss';

.feed-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feed-wrapper h3{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
}
